#updatePopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.update-box {
    background: linear-gradient(#2a1a10, #120b07);
    border: 2px solid gold;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    color: #f7e9c0;
    box-shadow: 0 0 30px gold;
    width: 300px;
}

.update-box button {
    margin: 10px;
}